/*
Font: WorkSans, LarishNeue
Farbe: #fff / #000
font-family: 'Work Sans', sans-serif;
*/
@font-face {
    font-family: LarishNeue;
    src: url(../fonts/LarishNeueSemibold.woff);
}
body{
    margin: 0;
    font-family: LarishNeue;
    /* max-width: 1440px; */
}

section{
    /* height: 100vh; */
    background-color:#000;
    color: #fff;
    padding: 0 5%;
}
.verticalLine{
    border-left: 1px solid #fff;
    height: 15vh;
    margin-left: 50%;
}

.titel{
    text-align: center;
}
.titel p{
    font-family: 'Work Sans', sans-serif;
    font-size: .9em;
}
.titel h1{
    line-height: .8em;
    font-size: 5em;
    margin: 0;
}
.titel span{
    color:#000;
    -webkit-text-stroke: 1px #fff;
}
.seite1 div:nth-of-type(3) a{
    text-align: right;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
    color:white;
    border: 1px solid white;
    padding: 2vh 5%;
}
.seite1 div:nth-of-type(3) a:hover{
    color: #000;
    background-color: #fff;
}
.seite1 div:nth-of-type(3){
    display: flex;
    justify-content: space-between;
    padding: 7vh 0;
}
.seite1 div:nth-of-type(4) p{
    font-size: 4em;
    width: 80%;
    margin-bottom: 0;
}
.map {
    display: flex;
}

.map div{
    width: 50%;
}
.map h2{
    font-size: 4em;
    margin: 0;
}
.map p{
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
}
.map div:nth-of-type(1){
    padding: 10vh 0;
}
.map div:nth-of-type(2){
    padding-bottom: 10vh;
}
.map img{
    height: 50vh;
}
/*Seite 2*/
.seite2 {
    background-color: #fff;
    color: #000;
    width: 31%;
    margin: 0 auto;
    position: relative;
}
.seite2 h2{
    font-size: 5em;
    margin-bottom: 0;
    line-height: 1em;
    padding-top: 25vh;
}
.seite2 p{
    line-height: 2em;
    font-family: 'Work Sans', sans-serif;
}
.seite2 .text2{
    padding-top: 55vh;
    padding-bottom: 20vh;
}
.img1 img{
    width: 50%;
    position: absolute;
    top: -12vh;
    left: 107%;
}
.img2 img{
    width: 45%;
    position: absolute;
    top: 13vh;
    left: -60%;
}
.img3 img{
    width: 45%;
    position: absolute;
    top: 50vh;
    right: -72%;
}

.img4 img{
    width: 50%;
    position: absolute;
    top: 70vh;
    left: -20%;
}
.img5 img{
    width: 50%;
    position: absolute;
    top: 85vh;
    right: -35%;
}
.img6 img{
    width: 45%;
    position: absolute;
    top: 115vh;
    left:-72%;
}
.img7 img{
    width: 60%;
    position: absolute;
    top: 140vh;
    right: 0;
}
.seite3{
    background-color: #000;
    color: #fff;
}
/*Seite 3*/
.seite3{
    padding: 15vh 5% 0;
}
.seite3 article, .seite4 article{
    display: flex;
    padding-bottom: 10vh;
}
.seite3 article div:nth-of-type(1),
.seite4 article div:nth-of-type(1){
    width: 50%;
}
.seite3 article div:nth-of-type(2),
.seite4 article div:nth-of-type(2){
    width: 50%;
    padding-top: 2vh;
}
.seite3 h2, .seite4 h2{
    font-size: 4em;
    width: 30%;
    margin-top: 1vh;
}
.seite3 article div:nth-of-type(2) p:nth-of-type(1),
.seite4 article div:nth-of-type(2) p:nth-of-type(1){
    font-size: 1.6em;
    width: 75%;
}
.seite3 article div:nth-of-type(2) p:nth-of-type(2),
.seite4 article div:nth-of-type(2) p:nth-of-type(2){
    font-family: 'Work Sans', sans-serif;
}
.img8{
    background: url(../img/goldenbear.png) center/cover no-repeat;
    width: 60%;
    height: 80vh;
    position: relative;
    margin-bottom: -15vh;
}
.img9 img{
   /* background: url(../img/gb2.png) center/cover no-repeat; */
   /* width: 54%; */
   height: 60vh;
   margin-left: -10%;
   position: absolute;
   top:14vh;
   left: 100%;
   z-index: 1;
}


/* Seite4/ */
.seite4{
    background-color: #fff;
    color: #000;
    padding-right: 0;
    padding-bottom: 8vh;
}
.img10{
    text-align: right;
    transform: translate(11%,-13vh);
}
.img10 img{
    height: 53vh;
    animation: animation1 10s linear infinite; 
}
@keyframes animation1 {
       to{transform: rotate(360deg)}
    
}
.img11{
    background: url(../img/rosebear.png) right/contain no-repeat;
    width: 90%;
    height: 80vh;
    position: relative;
  }
.img12{
   background: url(../img/pb3.png) center/cover no-repeat;
   width: 28%;
   height: 60vh;
   margin-left: -10%;
   position: absolute;
   top:12vh;
   left: 32%;
}
/* Seite 5 */
.seite5 {
    display: flex;
    position: relative;
    overflow: hidden;
}

.seite5 div:nth-of-type(1){
    padding-bottom: 15vh; 
    width: 40%; 
}
.seite5 div:nth-of-type(1) p:nth-of-type(1){
    font-family: 'Work Sans', sans-serif;
    padding-top: 10vh;
    margin-top: 0;
}
.seite5 div:nth-of-type(1) p:nth-of-type(2){
    font-size: 2em;
}
.seite5 a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
    color:white;
    border: 1px solid white;
    padding: 1.5vh 5%;
  
}
.seite5 a:hover{
    color: #000;
    background-color: #fff;
}
.animation2 {
background-color: white;
color: black;
height: 11vh;
padding-bottom: 0;
transform: rotate(45deg);
position: absolute;
right: -49%;

}
.animation2 p{
    margin: 0;
    font-size: 5em;
    animation: textAnimation 15s linear infinite;  
    text-overflow: clip;
    white-space: nowrap;
}
.animation2 span{
    color:white;
    -webkit-text-stroke: 1px #000;
}
@keyframes textAnimation {
    0% { transform: translateX(-10%)}
    50% {transform: translateX(40%);}
    100% { transform: translateX(-10%)}
}

/* Footer */
footer{
    background: #000;
    color: white;
    padding-left: 5%;
    padding-bottom: 2vh;
    padding-top: 1vh;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    height: 2vh;  
}
footer div:nth-of-type(2) img:nth-of-type(1){
    height: 4vh;  
    padding-right: 3%;
} 
footer div:nth-of-type(2){
    display: flex;
    padding-right: 10%;;
    align-items: baseline;
}
 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {
    .titel p{
        font-family: 'Work Sans', sans-serif;
        font-size: .6em;
    }
    .titel h1{
        line-height: 1em;
        font-size: 2em;
    }
    .seite1 div:nth-of-type(3) a{
        font-size: 1em;
        padding: 1vh 5%; 
    }
    .seite1 div:nth-of-type(4) p{
        font-size: 1.8em;
        width: 100%;
        text-align: center;
    }
    .map h2{
        font-size: 2em;
    }
    .map p{
    font-size: .6em;
    }
    .map div:nth-of-type(1){
        padding: 5vh 0;
    }
    .map div:nth-of-type(2){      
        padding-bottom: 5vh;
    }
    .map img{
        height: 25vh;
    }
    /*Seite 2*/
    .seite2 {
        width: 65%;
    }
    .seite2 h2{
        font-size: 2em;
        line-height: 1em;
        /* padding-top: 25vh; */
    }
    .seite2 p{
        line-height: 1em;
    }
    .seite2 .text2{
        padding-top: 50vh;
        padding-bottom: 25vh;
    }
    .img1 img{
        width: 60%;        
        top: -5vh;
        left: 48%;
    }
    .img2 img{
        width: 55%;
        top: 11vh;
        left: -16%;
    }
    .img3 img{
        width: 55%;
        top: 47vh;
        right: -13%;
    }
    
    .img4 img{
        width: 60%;
        top: 63vh;
        left: -10%;
    }
    .img5 img{
        width: 60%;
        top: 82vh;
        right: -6%;
    }
    .img6 img{
        width: 60%;
        position: absolute;
        top: 121vh;
        left:-17%;
    }
    .img7 img{
        width: 60%;
        top: 136vh;
        right: -6%;
    }
    /*Seite 3*/
.seite3{
    padding: 10vh 5% 0;
}
.seite3 article, .seite4 article{
    display: block;
    /* padding-bottom: 10vh; */
}
.seite3 article div:nth-of-type(1),
.seite4 article div:nth-of-type(1){
    width: 100%;
}
.seite3 article div:nth-of-type(2),
.seite4 article div:nth-of-type(2){
    width: 100%;
} 
.seite3 h2, .seite4 h2{
    font-size: 2em;
    width: 100%;
}
.seite3 article div:nth-of-type(2) p:nth-of-type(1),
.seite4 article div:nth-of-type(2) p:nth-of-type(1){
    font-size: 1em;
    width: 100%;
}
.img8{
    background: url(../img/goldenbear.png) center/cover no-repeat;
    width: 80%;
    height: 40vh;
    margin-bottom: -6vh;
}
.img9 img{
   height: 30vh;
   margin-left: -17%;
   top: 7vh;
}
/* Seite4/ */
.img10{
    transform: translate(12%,-6vh);
}
.img10 img{
    height: 26vh;
}
.img11{
    width: 90%;
    height: 35vh;
}
.img12{
   width: 35%;
   height: 25vh;
   top: 5vh;
   left: 1%;
}
/* Seite 5 */
.seite5 {
    display: block;
}

.seite5 div:nth-of-type(1){
    padding-bottom: 5vh; 
    padding-top: 10vh;
    width: 100%; 
}
.seite5 div:nth-of-type(1) p:nth-of-type(2){
    font-size: 1em;
}
.seite5 a{
    font-size: 1em;
    padding: 1vh 5%;
  
}
.animation2 {
height: 5vh;
transform: rotate(15deg);
top: 4vh;
right: -43%;
}
.animation2 p{
    font-size: 2em;
}
footer{
    font-size: .6em;
}
}